/* FONTS */
@font-face {
  font-family: "Staatliches";
  src: url(/fonts/Staatliches/Staatliches-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto/Roboto-Light.ttf);
}

body {
  /* !GLOBAL custom styles */
  --color-primary: #008cff;
  --color-primary-dark: #007adf;
  --color-secondary: #1c1c1c;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --color-white: #ffffff;
  --border-radius: 50px;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: var(--color-secondary-dark);
  background-size: cover;
  font-family: Roboto;
}

h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

#vue-app-wrapper {
  height: 100%;
}

.margin-left-right {
  margin-left: 20px;
  margin-right: 20px;
}

/* global classes >>> */
.display-flex-col-align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.display-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* <<< global classes */

.hamburger-menu {
  height: 35px;
  width: 35px;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

.hamburger-menu:hover {
  cursor: pointer;
  background-color: var(--color-primary-dark);
}

.input-field {
  height: 44px;
  width: 310px;
  text-align: center;
  font-size: 1.2em;
  border: none;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  margin: 25px;
  font-family: Roboto;
}

.input-field:focus {
  outline: none;
}

.input-field::placeholder {
  color: #464347;
  opacity: 0.55;
  font-size: 24px;
}

.input-button {
  border: none;
  border-radius: var(--border-radius);
  font-size: 27px;
  margin: 20px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 310px;
  height: 60px;
  box-shadow: 4px 6px 8px 2px rgb(0 0 0 / 10%);
}

.input-button:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.input-button:active {
  transform: scale(0.98);
}

.search-group {
  display: flex;
  margin: 25px;
  align-items: center;
  justify-content: center;
}

.search-group-button {
  margin: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-success);
  height: 30px;
  box-shadow: 4px 6px 8px 2px rgb(0 0 0 / 10%);
}

.search-group-by-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.search-button {
  border: none;
  border-radius: var(--border-radius);
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 80%;
  height: 40px;
  box-shadow: 4px 6px 8px 2px rgb(0 0 0 / 10%);
}

.reset-search-button {
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-error);
  width: 120px;
  height: 30px;
  box-shadow: 4px 6px 8px 2px rgb(0 0 0 / 10%);
}

.cancel-button {
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-error);
  width: 60px;
  height: 35px;
}

.logout-button {
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-error);
  width: 85px;
  height: 35px;
}

.back-button {
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-error);
  width: 60px;
  height: 35px;
}

.finish-button {
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 60px;
  height: 35px;
}

.subscript-gray {
  font-size: 16px;
  color: #8d8c80;
  margin: 2px;
}

.subscript-yellow {
  color: var(--color-primary);
}

.driver-card {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
}

/* use this wherever TRUCKER MILES h1 is used */
.app-name-header-one {
  font-family: Staatliches;
  letter-spacing: 0.1em;
  font-size: 60px;
  color: var(--color-secondary);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/* styles index.html*/
/* styles index.html*/
/* styles index.html*/

#all-drivers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#all-drivers-wrapper ul {
  padding: 0;
  margin: 0;
}

#all-drivers-wrapper li {
  list-style-type: none;
  background-color: var(--color-secondary);
  color: var(--color-white);
  box-shadow: 4px 6px 8px 2px rgb(0 0 0 / 10%);
  margin: 25px;
  height: 100%;
  width: 300px;
  padding: 14px;
  border-radius: 8px;
  font-size: 1.5em;
}

.all-routes-wrapper li {
  list-style-type: none;
  background-color: var(--color-secondary);
  color: var(--color-white);
  box-shadow: 4px 6px 8px 2px rgb(0 0 0 / 10%);
  margin: 25px;
  height: 100%;
  width: 300px;
  padding: 14px;
  border-radius: 8px;
}

/* ! for testing purposes >>> */
.test-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-route-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  border-radius: 8px;
  width: 80%;
  margin: 20px;
  padding: 20px;
  color: var(--color-white);
  box-shadow: 4px 6px 8px 2px rgb(0 0 0 / 10%);
}

.active-route-wrapper span {
  margin-right: 50px;
}

#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}

.container {
  width: 400px;
  height: 100%;
  background: var(--color-secondary-dark);
  padding: 1.2rem;
}

.container,
.form-input,
.form-button {
  font: 500 1rem Roboto, sans-serif;
}

.form > *:first-child {
  margin-top: 20px;
}

.form > *:last-child {
  margin-bottom: 20px;
}

.form-title {
  text-align: center;
  margin-right: 20px;
  color: var(--color-primary);
}

.form-message {
  text-align: center;
  margin-bottom: 1rem;
}

.form-message-success {
  color: var(--color-success);
}

.form-message-error {
  color: var(--color-error);
}

.form-input-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form-input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form-input-error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form-input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form-button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
  box-shadow: 4px 6px 8px 2px rgb(0 0 0 / 10%);
}

.form-button:hover {
  background: var(--color-primary-dark);
}

/* transform: scale; => this scales the button down by 2% when clicked */
.form-button:active {
  transform: scale(0.98);
}

.form-text {
  text-align: center;
  margin-top: 20px;
}

.form-link {
  color: var(--color-primary-dark);
  text-decoration: none;
  cursor: pointer;
}

.form-link:hover {
  text-decoration: underline;
}

.form-menu-selection {
  display: flex;
  justify-content: space-between;
}

.sign-up-user-errors-wrapper ul {
  list-style: none;
  color: var(--color-error);
}

.icofont-truck {
  font-size: 5em;
  animation: truck 3s linear infinite;
  color: black;
}
@keyframes truck {
  100% {
    transform: translateY(24px);
  }
  50% {
    transform: translateY(16px);
  }
  0% {
    transform: translateY(-1px);
  }
}

.fa-road {
  font-size: 4.5em;
  color: black;
}

/* media query at width of 700px */
@media screen and (max-width: 700px) {
  .subscript-gray {
    font-size: 16px;
    color: #8d8c80;
    text-align: center;
    margin: 2px;
  }

  .large-text-h1 {
    margin-right: 22px;
  }

  .back-button {
    margin-right: 22px;
  }

  .subscript-yellow {
    font-size: 1.1em;
  }

  .container {
    width: 100vw;
  }

  .form-container {
    margin-left: 35px;
    margin-right: 35px;
  }

  .app-name-header-one {
    font-size: 1.8em;
    margin-top: 40px;
  }

  .input-button {
    margin: 40px;
  }
}
